/* 文本 */
.article-detail .content p {
    color: #606266 !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 26px !important;
    margin: 0 0 16px !important;
    padding: 0 !important;
}

/* 删除线隐藏文字效果 */
.article-detail .content p del {
    transition: all 0.2s;
    background-color: #606266 !important;
    text-decoration: none !important;
}

.article-detail .content p del:hover {
    background-color: transparent !important;
}

/* 上下文字 */
.article-detail .content sub,
.article-detail .content sup {
    font-size: 12px !important;
}

/* 标签 */
.article-detail .content h1,
.article-detail .content h2,
.article-detail .content h3,
.article-detail .content h4,
.article-detail .content h5 {
    color: #303133 !important;
    margin: 24px 0 8px !important;
    padding: 0 !important;
    font-weight: 600 !important;
    /* 字体 */
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif !important;
    font-feature-settings: normal !important;
}

.article-detail .content h1 {
    font-size: 24px !important;
    line-height: 34px !important;
}

.article-detail .content h2 {
    font-size: 22px !important;
    line-height: 32px !important;
}

.article-detail .content h3 {
    font-size: 20px !important;
    line-height: 30px !important;
}

.article-detail .content h4 {
    font-size: 18px !important;
    line-height: 28px !important;
}

.article-detail .content h5 {
    font-size: 16px !important;
    line-height: 26px !important;
}

/* 超链接 */
.article-detail .content a {
    color: #4EA1DB !important;
    background: none !important;
    font-weight: normal !important;
    line-height: 26px !important;
    font-size: 16px !important;
    text-decoration: none !important;
    margin: 0 !important;
    padding: 0 !important;
    cursor: pointer !important;
    text-shadow: none !important;
    outline: 0 !important;
    /* 字体 */
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif !important;
    font-feature-settings: normal !important;
}

.article-detail .content a:hover {
    color: #ca0c16 !important;
}

/* 列表 */
.article-detail .content li {
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif !important;
    font-feature-settings: normal !important;
    margin: 8px 0 0 32px !important;
    padding: 0 !important;
    font-weight: normal !important;
}

.article-detail .content ul {
    margin: 0 0 24px !important;
    padding: 0 !important;
    font-size: 16px !important;
}

/* 表格 */
.article-detail .content table {
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 24px !important;
    border-collapse: collapse !important;
    width: 100% !important;
}

.article-detail .content table tr {
    border: 0 !important;
    border-top: 1px solid #ddd !important;
    background-color: #fff !important;
}

.article-detail .content table tr th,
.article-detail .content table tr td {
    font-size: 14px !important;
    color: #4f4f4f !important;
    line-height: 22px !important;
    border: 1px solid #ddd !important;
    padding: 8px !important;
    margin: 0 !important;
    vertical-align: middle !important;
    /* 单元格居中 */
    text-align: center !important;
    /* 字体 */
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif !important;
    font-feature-settings: normal !important;
}

.article-detail .content table tr th {
    font-weight: 700 !important;
    background-color: #eff3f5 !important;
}

.article-detail .content table tr td {
    font-weight: normal !important;
}

.article-detail .content table tr:nth-of-type(2n) {
    background-color: #f7f7f7 !important;
}

/* 代码框内文字 */
.article-detail .content code,
.article-detail .content code span {
    /* 字体 */
    font-size: 14px;
    line-height: 22px;
    font-family: Source Code Pro, DejaVu Sans Mono, Ubuntu Mono, Anonymous Pro, Droid Sans Mono, Menlo, Monaco, Consolas, Inconsolata, Courier, monospace, PingFang SC, Microsoft YaHei, sans-serif !important;
    font-feature-settings: normal !important;
}

/* 用单个`括起来的代码 */
.article-detail .content p>code {
    padding: 2px 4px !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #c7254e !important;
    background-color: #f9f2f4 !important;
    border-radius: 2px !important;
    font-family: Source Code Pro, DejaVu Sans Mono, Ubuntu Mono, Anonymous Pro, Droid Sans Mono, Menlo, Monaco, Consolas, Inconsolata, Courier, monospace, PingFang SC, Microsoft YaHei, sans-serif !important;
    font-feature-settings: normal !important;
}

/* 滚动条样式 */
.article-detail .content pre code::-webkit-scrollbar {
    height: 8px !important;
    width: 138px !important;
}

.article-detail .content pre code::-webkit-scrollbar-thumb {
    background: #C2C2C2 !important;
    border-radius: 4px !important;
}

/* 字体 */
.article-detail .content,
.article-detail .content li,
.article-detail .content p {
    color: #606266;
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif !important;
    font-feature-settings: normal !important;
}

/* 分割线样式 */
.article-detail .content hr {
    background-size: 100% 5px !important;
    margin: 16px 0 !important;
}

/* 代码行数 */
.article-detail .content pre {
    position: relative;
    padding-left: 60px;
    background-color: #f6f6f6;
    line-height: 0;
}

.article-detail .content .pre-numbering {
    position: absolute;
    margin-bottom: 0 !important;
    top: 14.5px;
    left: 0;
    border-right: 1px solid #c5c5c5;
    background-color: #f6f6f6;
    padding: 0;
    text-align: right;
}

.article-detail .content .pre-numbering li {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 8px !important;
    list-style: none;
    color: #383a42;
    font-size: 14px;
    line-height: 22px;
    font-family: Source Code Pro, DejaVu Sans Mono, Ubuntu Mono, Anonymous Pro, Droid Sans Mono, Menlo, Monaco, Consolas, Inconsolata, Courier, monospace, PingFang SC, Microsoft YaHei, sans-serif !important;
}

/* 代码复制按钮 */
.article-detail .content pre .code-copy {
    opacity: 0.1;
    position: absolute;
    top: 8px;
    right: 2%;
    width: 69.6px;
    height: 31.2px;
    background-color: #9999AA;
    color: #ffffff;
    font-size: 21.6px;
    line-height: 31.2px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-family: Source Code Pro, DejaVu Sans Mono, Ubuntu Mono, Anonymous Pro, Droid Sans Mono, Menlo, Monaco, Consolas, Inconsolata, Courier, monospace, PingFang SC, Microsoft YaHei, sans-serif !important;
    font-feature-settings: normal !important;
}

.article-detail .content pre:hover .code-copy {
    opacity: 0.5;
}

.article-detail .content pre .code-copy:hover {
    opacity: 1 !important;
}

/* 目录 */
.toc {
    margin-left: 30px;
    opacity: 0.5;
    width: 240px;
    max-height: 60%;
    padding: 10px;
    overflow: auto;
    overflow-x: hidden;
    position: fixed;
    top: 20%;
    overscroll-behavior: contain;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.toc p {
    margin: 0 !important;
    cursor: pointer;
    color: #606266;
    font-weight: 400;
    line-height: 30px;
}

.toc p.current,
.toc p.current:hover {
    color: #c7254e;
}

.toc p:hover {
    color: #303133;
}

/* 目录层级 */
.toc p.toc-level-3 {
    font-size: 17px;
}

.toc p.toc-level-4 {
    font-size: 16px;
    padding-left: 20px;
}

.toc p.toc-level-5 {
    font-size: 15px;
    padding-left: 40px;
}

/* 目录滚动条样式 */
.toc::-webkit-scrollbar {
    width: 7px;
    height: 1px;
}

.toc::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /* box-shadow: inset 0 0 5px rgba(204, 201, 201, 0.1); */
    background: #909399;
}

.toc::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgba(234, 232, 232, 0.1); */
    border-radius: 10px;
    background: #ededed;
}

.toc:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.4);
}